 .noAppenderDefined { color:red; }
 
.logs .level {font-weight: bold; background-position: 2px center; background-repeat: no-repeat; text-align: left !important;}
.logs .level.FATAL, .logs .level.FATAL A { color: #B22222; background-image: url("../../images/jalios/icons/log-fatal.gif"); padding-left: 21px; }
.logs .level.ERROR, .logs .level.ERROR A { color: #FF0000; background-image: url("../../images/jalios/icons/log-error.gif"); padding-left: 21px; }
.logs .level.WARN , .logs .level.WARN  A { color: #FF8C00; background-image: url("../../images/jalios/icons/log-warn.gif");  padding-left: 21px; }
.logs .level.INFO , .logs .level.INFO  A { color: teal;    background-image: url("../../images/jalios/icons/log-info.gif");  padding-left: 21px; }
.logs .level.DEBUG, .logs .level.DEBUG A { color: gray;    background-image: url("../../images/jalios/icons/log-debug.gif"); padding-left: 21px; }
.logs .level.TRACE, .logs .level.TRACE A { color: gray;    }
.logs .level A { background-image: none !important; padding: 0 !important; text-decoration: none; }

.listOddRow, .listEvenRow, .listOverRow {
   vertical-align: top;
 }
 
 .eventDetail {
   display: none;
   font-size: smaller;
   padding: 5px 10px;
 }
 .showDetailLink { display: inline; font-size: smaller; text-decoration: none; color: navy   !important;}
 .hideDetailLink { display: none;   font-size: smaller; text-decoration: none; color: maroon !important;}
 .showDetail .showDetailLink { display: none;   }
 .showDetail .hideDetailLink { display: inline; }
 .showDetail .eventDetail    { display: block;  }